.gridContainer {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.cell {
  border: solid black 1px;
  flex-grow: 1;
}

.cell:nth-child(n+2) {
  border-left: 0;
}

.row:nth-child(odd) .cell {
  border-bottom: 0;
}

.row:nth-child(even) .cell {
  border-bottom: 0;
}

.row:last-child .cell {
  border-bottom: solid 1px black;
}

.active {
  background: black;
}

.container {
  text-align: center;
  margin-bottom: 30px;
}

/* Range */
.rngContainer {
  margin-top: 10px;
}
.rngContainer p {
  margin: 0;
}

#gridRngSlider {
  -webkit-appearance: none;
  opacity: 2;
  height: 5px;
  width: 125px;
  background: rgba(255,255,255,0.25);
  border: solid black 1px;
  border-radius: 8px;
}

#gridRngSlider:hover {
  opacity: 1;
}
#gridRngSlider::-webkit-slider-thumb {
  background-color: blue;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

/* Buttons */
.btn {
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 8px;
}
.btn-active {
  background: #5c5c5c;
  border-radius: 8px;
  color: white;
}