.gridContainer {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.cell {
  /* background: red; */
  /* width: 20px; */
  /* height: 20px; */
  border: solid black 1px;
  flex-grow: 1;
}

.cell:nth-child(n+2) {
  border-left: 0;
}

.row:nth-child(odd) .cell {
  border-bottom: 0;
}

.row:nth-child(even) .cell {
  border-bottom: 0;
}

.row:last-child .cell {
  border-bottom: solid 1px black;
}

.active {
  background: black;
}

.container {
  text-align: center;
  margin-bottom: 30px;
}

/* Range */
#gridRngSlider {
  /* -webkit-appearance: none; */
  opacity: 2;
  height: 20px;
  width: 250px;
  /* background: red; */
}

#gridRngSlider:hover {
  opacity: 1;
}